{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container d-flex justify-content-center">
    <div class="row">
        <div class="col-md-12">
            <h1 class="d-flex flex-column justify-content-center align-items-center template-header text-white">ADD
                PRODUCT</h1>
            <form method="POST" action="{% url 'add_product' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ edit_form.name.id }}" class="text-white">Product Name</label>
                    {{ edit_form.name }}
                </div>
                <div class="form-group">
                    <label for="{{ edit_form.description.id }}" class="text-white">Description</label>
                    {{ edit_form.description }}
                </div>
                <div class="form-group">
                    <label for="{{ edit_form.artist.id }}" class="text-white">Artist</label>
                    {{ edit_form.artist }}
                </div>
                <div class="form-group">
                    <label for="{{ edit_form.style.id }}" class="text-white">Style</label>
                    {{ edit_form.style }}
                </div>
                <div class="form-group">
                    <label for="{{ edit_form.origin.id }}" class="text-white">Origin</label>
                    {{ edit_form.origin }}
                </div>
                <div class="form-group">
                    <label for="{{ edit_form.origin_image.id }}" class="text-white">Origin Image</label>
                    {{ edit_form.origin_image }}
                </div>
                <div class="form-group">
                    <label for="{{ edit_form.price.id }}" class="text-white">Price</label>
                    {{ edit_form.price }}
                </div>
                <div class="form-group">
                    <label for="{{ edit_form.category.id }}" class="text-white">Category</label>
                    {{ edit_form.category }}
                </div>
                <div class="form-group">
                    <label class="text-white">Product Image</label>
                    {{ edit_form.image }}
                </div>
                <div>
                    <button type="submit" class="btn btn-success">ADD PRODUCT</button>
                    <a class="btn btn-secondary ms-3" href="{% url 'dashboard' %}" role="button">BACK</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}