{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1 class="d-flex flex-column justify-content-center align-items-center template-header text-white mb-5">HI BOSS. WHAT WOULD
    YOU LIKE TO DO?</h1>

<div class="d-flex justify-content-center">
    <button type="button" class="btn btn-success w-25 mb-3">ADD PRODUCT</button>
</div>
<div class="d-flex justify-content-center">
    <a class="btn btn-primary mb-3" href="{% url 'edit_product_search' %}" role="button">EDIT PRODUCT</a>
</div>
<div class="d-flex justify-content-center">
    <button type="button" class="btn btn-danger w-25 mb-2">DELETE PRODUCT</button>
</div>
{% endblock %}