{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1 class="d-flex flex-column justify-content-center align-items-center template-header text-white mb-5">HI BOSS. WHAT WOULD
    YOU LIKE TO DO?</h1>

<div class="d-flex justify-content-center">
    <a class="btn btn-success mb-3" href="{% url 'add_product' %}" role="button">ADD PRODUCT</a>
</div>
<div class="d-flex justify-content-center">
    <a class="btn btn-primary mb-3" href="{% url 'edit_product_search' %}" role="button">EDIT PRODUCT</a>
</div>
<div class="d-flex justify-content-center">
    <a class="btn btn-danger mb-3" href="{% url 'delete_product' %}" role="button">DELETE PRODUCT</a>
</div>
{% endblock %}