{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1 class="d-flex flex-column justify-content-center align-items-center template-header text-white">DELETE PRODUCT</h1>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center mt-5">
            {% include 'delete_product_by_id.html' %}
        </div>
    </div>
    {% if search_form.is_bound %}
    {% if not product and search_form.id.value %}
        <div class="d-flex justify-content-center">
            <h3 class="text-white">There is no product with this ID.
                It has either been removed or not yet created. Please choose a different ID</h3>
        </div>
    {% endif %}
{% endif %}
    <div class="container-lg mt-3">
        <div class="row mt-3">
            <div class="col-md-6">
                {% if product %}
                    <div class="w-75">
                        {% include 'product_card.html' with product=product %}
                    </div>
            </div>
            <div class="col-md-6 w-50">
                <div class="text-center w-75 mt-5">
                    <button type="button" class="btn btn-danger w-25 mb-2" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">DELETE PRODUCT</button>

                    <!-- Confirm Delete Modal -->
                    {% for product in products %}
                    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="confirmDeleteModalLabel">Confirm Delete</h5>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to delete this product? Deleting this product will result in permanent removal and won't be retrievable after.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    <form method="POST" action="{% url 'delete_product' product.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger">Confirm Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
