{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1 class="d-flex flex-column justify-content-center align-items-center template-header text-white">EDIT PRODUCT</h1>
<div class="row">
    <div class="col-md-12 d-flex justify-content-center mt-5">
        {% include 'edit_product_by_id.html' %}
    </div>
    {% if search_form.is_bound %}
    {% if not product and search_form.id.value %}
        <div class="d-flex justify-content-center">
            <h3 class="text-white">There is no product with this ID.
                It has either been removed or not yet created. Please choose a different ID</h3>
        </div>
    {% endif %}
{% endif %}
</div>
<div class="container-lg mt-3">
    <div class="row mt-3">
        <div class="col-md-6">
            {% if product %}
            <div class="w-75">
                {% include 'product_card.html' with product=product %}
            </div>
            {% endif %}
        </div>
        <div class="col-md-6 w-50">
            <div class="text-center w-75">
                {% if not product %}
                <div>
                </div>
                {% else %}
                {% include 'edit_product_form.html' %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}