{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1 class="d-flex flex-column justify-content-center align-items-center template-header text-white">EDIT PRODUCT</h1>
<div class="row">
    <div class="col-md-12 d-flex justify-content-center mt-5">
        <form method="get" action="{% url 'edit_product_search' %}">
            <div class="input-group">
                {{ search_form.id_tag }}
                {{ search_form.id }}
                <button type="submit" class="btn btn-primary">Search</button>
                <a class="btn btn-secondary mb-3 ms-3" href="{% url 'dashboard' %}" role="button">BACK</a>
            </div>
        </form>
    </div>
    {% if new_product_created %}
    <h1>NEWICBIHQBUI"BYUIOC£RBOIBI!BB!IO</h1>
    {% endif %}
</div>
<div class="container-lg mt-3">
    <div class="row mt-3">
        <div class="col-md-6">
            {% if product %}
                <div class="w-75">
                    {% include 'product_card.html' with product=product %}
                </div>
            {% endif %}
        </div>
        <div class="col-md-6 w-50">
            <div class="text-center w-75">
                {% if not product %}
                    <div></div>
                {% else %}
                    {% include 'edit_product_form.html' %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
