{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="jumbotron">
    <h1 class="d-flex flex-column justify-content-center align-items-center mt-3">Welcome to Zawadi Art</h1>
    <p class="d-flex flex-column justify-content-center align-items-center">Discover amazing African art pieces.</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="search-container">
                <input type="text" class="form-control search-bar" id="searchBar" placeholder="Search for art..."
                    data-toggle="modal" data-target="#searchModal">
                <button class="btn btn-primary search-button" type="button">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg custom-modal">
        <div class="modal-content">
            <div class="modal-body">
                <!-- Category -->
                <div class="form-group">
                    <label class="form-check-label mt-3 me-1" for="category">Category:</label>
                    <div class="form-check form-check-inline">
                        {% for category in category %}
                        <input type="checkbox" class="category-form-check-input d-flex justify-content-between me-1" id="
                            category1">
                        <label class="form-check-label ps-1 mt-3 me-5" for="category1">{{ category }}</label>
                        {% endfor %}
                    </div>
                </div>
                <!-- Artists -->
                <div class="form-group d-flex align-items-start">
                    <label class="form-check-label mt-2 me-3" for="artist">Artist:</label>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary dropdown-toggle ms-4" type="button"
                            data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true"
                            aria-expanded="false">
                            Select Artist
                        </button>
                        <div class="dropdown-menu custom-dropdown-menu" style="min-width: 82%;">
                            {% for artist in artists %}
                            <label
                                class="dropdown-item form-check d-flex justify-content-between align-items-center custom-dropdown-item">
                                {{ artist }}
                                <input type="checkbox" class="form-check-input">
                            </label>
                            {% endfor %}
                        </div>
                    </div>
                    <span class="ms-3 mt-2">
                        <span id="selected-artist-count"></span>
                    </span>
                </div>
                <!-- Origin -->
                <div class="form-group" id="origin-icons">
                    <label class="form-check-label mt-3" for="origin">Origin:</label>
                    <div class="form-check form-check-label form-check-inline me-1">
                        <div class="form-check form-check-label form-check-inline me-1">
                            {% for origin_image_tuple in origin_image %}
                            <a class="btn">
                                <img src="{{ origin_image_tuple.0 }}" class="flag-icon"
                                    title="{{ origin_image_tuple.1 }}">
                                <p>{{ origin_image_tuple.2 }}</p>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- Price -->
                <div class="form-group mt-2 me-3">
                    <label class="form-check-label me-2 mt-3" for="price">Price ($):</label>
                    <input type="number" class="form-control w-25 me-2 mt-2" id="price" step="50"><span>*search for
                        items
                        under this amount</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Search</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}