{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="jumbotron">
    <h1 class="d-flex flex-column justify-content-center align-items-center mt-3">Welcome to Zawadi Art</h1>
    <p class="d-flex flex-column justify-content-center align-items-center">Discover amazing African art pieces.</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="search-container">
                <input type="text" class="form-control search-bar" id="searchBar" placeholder="Search for art..."
                    data-toggle="modal" data-target="#searchModal">
                <button class="btn btn-primary search-button" type="button">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg custom-modal">
        <div class="modal-content">
            <div class="modal-body">
                <!-- Category -->
                <div class="form-group">
                    <label class="form-check-label mt-3 me-3" for="category">Category:</label>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="category1">
                        <label class="form-check-label mt-3" for="category1">Paintings</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="category2">
                        <label class="form-check-label mt-3" for="category2">Sculptures</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="category3">
                        <label class="form-check-label mt-3" for="category3">Frames</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="category4">
                        <label class="form-check-label mt-3" for="category4">Crafts</label>
                    </div>
                    <!-- Repeat for other categories -->
                </div>

                <!-- Artists -->
                <div class="form-group d-flex align-items-start">
                    <label class="form-check-label mt-2 me-3" for="artist">Artist:</label>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary dropdown-toggle ms-4" type="button"
                            data-bs-toggle="dropdown" data-bs-auto-close="false" aria-haspopup="true"
                            aria-expanded="false">
                            Select Artist
                        </button>
                        <div class="dropdown-menu custom-dropdown-menu" style="min-width: 82%;">
                            {% for artist in artists %}
                            <label
                                class="dropdown-item form-check d-flex justify-content-between align-items-center custom-dropdown-item">
                                {{ artist }}
                                <input type="checkbox" class="form-check-input">
                            </label>
                            {% endfor %}
                        </div>
                    </div>
                    <span class="ms-3 mt-2">
                        <span id="selected-artist-count"></span>
                    </span>
                </div>

                <!-- Origin -->
                <div class="form-group" id="origin-icons">
                    <label class="form-check-label mt-2" for="origin">Origin:</label>
                    <div class="form-check form-check-label form-check-inline mt-2 me-1">
                        <label class="form-check-label d-flex flex-column align-items-center">
                            <img src="https://res.cloudinary.com/dj3upv8lw/image/upload/v1692523461/flag%20icons/ghana_ty7sif.png"
                                class="flag-icon" title="Ghana">
                            <p class="mb-0">GHA</p>
                        </label>
                    </div>
                    <div class="form-check form-check-label form-check-inline mt-2 me-1">
                        <label class="form-check-label d-flex flex-column align-items-center">
                            <img src="https://res.cloudinary.com/dj3upv8lw/image/upload/v1692523654/flag%20icons/kenya_cgsacm.png"
                                class="flag-icon" title="Kenya">
                            <p class="mb-0">KEN</p>
                        </label>
                    </div>
                    <div class="form-check form-check-label form-check-inline mt-2 me-1">
                        <label class="form-check-label d-flex flex-column align-items-center">
                            <img src="https://res.cloudinary.com/dj3upv8lw/image/upload/v1692523461/flag%20icons/nigeria_zxyhb4.png"
                                class="flag-icon" title="Nigeria">
                            <p class="mb-0">NGA</p>
                        </label>
                    </div>
                    <div class="form-check form-check-label form-check-inline mt-2 me-1">
                        <label class="form-check-label d-flex flex-column align-items-center">
                            <img src="https://res.cloudinary.com/dj3upv8lw/image/upload/v1692523461/flag%20icons/south-africa_1_hyh59u.png"
                                class="flag-icon" title="South Africa">
                            <p class="mb-0">RSA</p>
                        </label>
                    </div>
                    <div class="form-check form-check-label form-check-inline mt-2 me-1">
                        <label class="form-check-label d-flex flex-column align-items-center">
                            <img src="https://res.cloudinary.com/dj3upv8lw/image/upload/v1692523461/flag%20icons/tanzania_pi6tn0.png"
                                class="flag-icon" title="Tanzania">
                            <p class="mb-0">TZA</p>
                        </label>
                    </div>
                    <div class="form-check form-check-label form-check-inline mt-2 me-1">
                        <label class="form-check-label d-flex flex-column align-items-center">
                            <img src="https://res.cloudinary.com/dj3upv8lw/image/upload/v1692523491/flag%20icons/sierra-leone_tkvubf.png"
                                class="flag-icon" title="Sierra Leone">
                            <p class="mb-0">SLE</p>
                        </label>
                    </div>
                    <div class="form-check form-check-label form-check-inline mt-2 me-1">
                        <label class="form-check-label d-flex flex-column align-items-center">
                            <img src="https://res.cloudinary.com/dj3upv8lw/image/upload/v1692523461/flag%20icons/senegal_kb0bag.png"
                                class="flag-icon" title="Senegal">
                            <p class="mb-0">SEN</p>
                        </label>
                    </div>
                </div>
                

                <!-- Price -->
                <div class="form-group me-3">
                    <label class="form-check-label mt-1 me-2" for="price">Price ($):</label>
                    <input type="number" class="form-control w-25 me-2" id="price" step="50"><span>*search for items
                        under this amount</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Search</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}