<script>
    // JavaScript to toggle the slide-down effect for the dropdown menu
    document.addEventListener("DOMContentLoaded", function() {
        const dropdownToggle = document.querySelector(".dropdown-toggle");
        const dropdownMenu = document.querySelector(".dropdown-menu-slide");

        dropdownToggle.addEventListener("click", function() {
            if (dropdownMenu.style.maxHeight) {
                dropdownMenu.style.maxHeight = null;
            } else {
                dropdownMenu.style.maxHeight = dropdownMenu.scrollHeight + "px";
            }
        });
    });

    document.addEventListener("DOMContentLoaded", function () {
        const searchBar = document.getElementById("searchBar");
        const searchModal = new bootstrap.Modal(document.getElementById("searchModal"));

        searchBar.addEventListener("click", function () {
            searchModal.show();
        });
    });


    document.getElementById("searchBar").addEventListener("click", function() {
    $("#searchModal").modal("toggle");
});



</script>
