body {
    background-image: url('https://res.cloudinary.com/dj3upv8lw/image/upload/v1691851288/savannah_k9xubm.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
    min-height: 100vh;
}


.container {
    flex: 1;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.dropdown-menu-slide {
    display: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s ease-out;
}

.dropdown-menu-show {
    max-height: 32vh; /* Adjust the max-height as needed */
}