#home-body {
    background-image: url('https://res.cloudinary.com/dj3upv8lw/image/upload/v1692439951/savannah_nm23cv.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
    min-height: 100vh;
}

body {
    background-color: #302b2b !important;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
    min-height: 100vh;
}

#Navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    width:initial;
    height: 18.5vh;
    margin: 0 !important;
    padding:0.2rem !important;
  }

.alert-box-fixed {
    height:6vh;
}

.navcontainer {
    margin-top: 0 !important;
    width:max-content !important;
    padding:0 !important;
  }


.africa-icon {
    width: 4.5rem;
    height: 3.2rem;
    margin-left: 3vw;
}

.zawadi {
    max-width: min-content;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #f9f100fd !important;
    transition: color 0.4s ease-in-out;
}

.navbar-nav {
    padding-right:0 !important;
}

.navlink {
    padding:0 !important;
}

.navbar-brand.brand-link:hover {
    color:  #f9f100fd !important;
    transition: color 0.4s ease-in-out;
}

.modal {
    margin-top:13vh;
  }

.template-header {
    margin-top: 20vh;
}

.product-header {
    color: #f5f5f5 !important;
}

.container {
    flex: 1;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

p {
  margin-bottom: 0.5rem !important;  
}
/* Styling for the 'products' dropdown menu */

.dropdown-menu-slide {
    display: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s ease-out;
}

.dropdown-menu-show {
    max-height: 32vh; /* Adjust the max-height as needed */
}

/* Styling for the search bar and search button container */


.home-searchbar {
    display: flex;
    align-self: center !important;
    margin-top: 12vh;
}


/* Styling for the search bar */
.search-bar {
    background-color: #333;
    color: white;
    padding: 10px; /* Add padding to the search bar */
    border-radius: 5px; /* Add border radius for a rounded look */
    margin-right: 0; /* Add margin between the search bar and the button */
}

/* Styling for the search button */
.search-button {
    background-color: #4b941e; /* Primary color for the button */
    color: white;
    border: none;
    padding: 10px; /* Match the padding with the search bar */
    border-radius: 5px; /* Add border radius for a rounded look */
}

/* Styling for the placeholder text */
.search-bar::placeholder {
    color: white;
    opacity: 1;
}


.custom-modal {
    margin-top: 12.5%; /* You can adjust this value to position the modal lower or higher */
}

/* Add this to your existing style.css or create a new CSS file and link it in your HTML */
.custom-modal .form-check-label {
    display: inline-block;
    width:auto; /* Adjust the width as needed */
    vertical-align: top;
    margin-bottom: 15px; /* Add spacing between each category */
    /* margin-left: 0.5vw; */
    margin-bottom: 1 !important;
    font-weight: 500;
}

.custom-modal.form-check-input {
    margin-bottom:0 !important;
}

.productaddedmodal {
    margin-top: 20vh;
}

.custom-modal .form-control {
    display: inline-block;
    width: calc(100% - 120px); /* Adjust the width based on the label's width */
    margin-left: 10px; /* Add spacing between label and input */
}

.form-group {
    margin-bottom: 2vh;
}

/* CSS */
/* Apply custom styles to the modal content */
.modal-content {
    max-width: 650px;
    margin: auto;
    /* Add other styling as needed */
}

/* Style other elements when modal is open */
body.modal-open .content-to-fade {
    opacity: 0.5; /* Example: reduce opacity */
    pointer-events: none; /* Example: disable interaction */
}

/* Custom styles for the modal content */
.modal-content {
    font-size: 14px; /* Adjust the font size as needed */
}

/* Style for category, artist, origin, and price labels */
.modal-content .modal-label {
    font-size: 14px; /* Adjust the font size as needed */
}

/* Style for input fields */
.modal-content input {
    font-size: 14px; /* Adjust the font size as needed */
}

/* Style for the search button */
.modal-content .search-button {
    font-size: 14px; /* Adjust the font size as needed */
    padding: 5px 10px; /* Adjust padding as needed */
}

/* Style for the close button in the modal header */
.modal-header .close {
    font-size: 20px; /* Adjust the font size as needed */
    padding: 5px; /* Adjust padding as needed */
}

.form-check {
    display:flex;
    align-items:start;
    margin-bottom:0 !important;
}

.form-group {
    margin-bottom: 1vh !important;
}


.form-check-input {
    border-color: #2f2c2c;
}

.category-form-check-input {
    border-color: #2f2c2c;
}

.larger-checkbox {
    width: 20px;  /* Adjust the width as needed */
    height: 20px; /* Adjust the height as needed */
    /* Add other styling if desired */
}


/* Custom class for horizontal checkboxes */
.form-check-inline {
    display: inline-flex;
    align-items: center;
    padding: 0;
}

/* Adjust the dropdown menu position */
.dropdown-menu {
    min-width: 100%;
}

/* Style the checkboxes in the dropdown menu */
.dropdown-menu .form-check {
    display: flex;
    align-items: center;
    margin: 0.25rem 0;
}

.custom-dropdown-menu {
    max-height: 30vh; /* Set the maximum height for the dropdown */
    overflow-y: auto; /* Enable vertical scrolling if content exceeds the height */
}

.flag-icon{
    width: 2.6vw !important;
    height: auto !important;
}
.flag-icon:hover {
    transform: scale(1.3);
    cursor:pointer;
    transition: ease-in(0.5s) !important;
}

.flag-icon.selected {
    border: 2px solid black;
    border-radius: 95%;
    transform: scale(1.05);
    
}

.card-smaller {
    transform: scale(0.85); /* 75% of the original size */
}


.card-body {
    padding: 1rem; /* Add padding to the card body */
    max-width:40vw;

}

.cardrow {
    padding-right: 0 !important;
    padding-left:0 !important;
    margin-top:0 !important;
}

.card-img-top:hover {
    transform: scale(1.05); /* Scale the image by 5% */
    transition: transform 0.3s ease-in-out; /* Add a smooth transition effect */
    cursor: pointer;
  }

.hidden-checkbox {
    position: absolute;
    left: -9999px;
}

.checkbox-label {
    display: inline-block;
    cursor: pointer;
    /* Add your styling for the checkbox appearance here */
}

.checkbox-label img {
    max-width: 2.5vw;
}

.checkbox-label img:hover {
    transform: scale(1.3);
    cursor: pointer;
    transition: transform 0.3s ease-in; /* Transition transform property over 0.5 seconds with ease-in timing function */
}

.checkbox-label img.selected {
    border: 2px solid black;
    border-radius: 95%;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out; /* Example transition for the 'selected' state */
}

.checkbox-label img:not(:hover) {
    transform: scale(1); /* Return to the default scale when not hovered */
    transition: transform 0.5s ease-in-out;
}

.filter-summary {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1vw;
    max-width: 40vw;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: #333;
}

.grand-total {
    margin-left: 30vw;
}

.grandtotal {
    display: flex;
    align-items: end;
}

.authentication {
    margin-top: 12rem;
}

.navbar-alert {
    max-width: auto;
}

.formwidth {
    width: 100% !important;
}

.link-icon {
    display: flex;
    justify-content: center;
}

.alert-dismissible {
    width: max-content;
}

/* Custom CSS to style the form */
.form-group {
    margin-bottom: 20px; /* Add space between form groups */
}

/* Style for the product image field */
.form-group label[for^="id_image"] {
    display: block; /* Make the label display as a block element */
    color: white; /* Set label text color to white */
    margin-bottom: 10px; /* Add space between label and input */
}

/* Ensure all form fields are full width */
.form-group input[type="text"], .form-group textarea, .form-group select {
    width: 100%;
}

/* Style the product image field */
.form-group input[type="file"] {
    display: block; /* Make the file input display as a block element */
    padding: 10px; /* Add padding to the file input */
    background-color: #fff; /* Set the background color to white for the image input */
    border: 1px solid #ccc; /* Add a border around the image input */
    width: 100%; /* Make the image input full width */
}
