{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'layouts/head.html' %}

    <!-- My own css-->
    {% block corecss %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    {% endblock %}

    <!-- My Own extra css-->
    {% block extra_css %}
    {% endblock %}

    <title>{{ title }}</title>
</head>

<body class="d-flex flex-column base-body">
    <!-- Navbar -->
    {% include 'layouts/navbar.html' %}

    {% block content %}
    {% endblock %}

    <!-- Footer -->
    
    
    <!-- Custom JS-->
    {% include 'components/script/navbarjs.html' %}
    <!-- Bootstrap JS-->
    {% include 'components/script/bootstrapjs.html' %}
    <!-- Add the Bootstrap JavaScript (and jQuery) -->

    {% block extra_js %}
    <script>
    $(document).ready(function() {
        // Function to toggle the selected class and border on click
        $('#origin-icons .flag-icon').on('click', function() {
            $(this).toggleClass('selected');
        });
    });

    // To update the selected artist count
    const selectedArtistCountSpan = document.getElementById('selected-artist-count');
    const checkboxes = document.querySelectorAll('.form-check-input');

    checkboxes.forEach(checkbox => {
        checkbox.addEventListener('change', updateSelectedCount);
    });

    function updateSelectedCount() {
        const selectedCount = document.querySelectorAll('.form-check-input:checked').length;

        if (selectedCount > 0) {
            selectedArtistCountSpan.textContent = `${selectedCount} artist${selectedCount === 1 ? '' : 's'} selected`;
            selectedArtistCountSpan.style.display = 'inline';
            selectedArtistCountSpan.style.color = 'green';
            selectedArtistCountSpan.style.fontStyle = 'italic';
        } else {
            selectedArtistCountSpan.style.display = 'none';
        }
    }
</script>
    {% endblock %}
</body>

</html>