{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'layouts/head.html' %}

     <!-- My own css-->
     {% block corecss %}
     <link href="{% static '/css/style.css' %}" rel="stylesheet" type="text/css">
     {% endblock %}

    <!-- My Own extra css-->
    {% block extra_css %}
    {% endblock %}

    <title>{{ title }}</title>
</head>

<body class="d-flex flex-column">
    <!-- Navbar -->
    {% include 'layouts/navbar.html' %}

    {% block content %}
    {% endblock %}

    <!-- Footer -->


    <!-- Custom JS-->
    {% include 'components/script/navbarjs.html' %}
    <!-- Bootstrap JS-->
    {% include 'components/script/bootstrapjs.html' %}
    <!-- Add the Bootstrap JavaScript (and jQuery) -->

    {% block extra_js %}
    <script>
        $(document).ready(function () {
            // Function to toggle the selected class and border on click
            $('#origin-icons .flag-icon').on('click', function () {
                $(this).toggleClass('selected');
            });
        });

        // To update the selected artist count
        const selectedArtistCountSpan = document.getElementById('selected-artist-count');
        const checkboxes = document.querySelectorAll('.form-check-input');

        checkboxes.forEach(checkbox => {
            checkbox.addEventListener('change', updateSelectedCount);
        });

        function updateSelectedCount() {
            const selectedCount = document.querySelectorAll('.form-check-input:checked').length;

            if (selectedCount > 0) {
                selectedArtistCountSpan.textContent = `${selectedCount} artist${selectedCount === 1 ? '' : 's'} selected`;
                selectedArtistCountSpan.style.display = 'inline';
                selectedArtistCountSpan.style.color = 'green';
                selectedArtistCountSpan.style.fontStyle = 'italic';
            } else {
                selectedArtistCountSpan.style.display = 'none';
            }
        }

        let checkboxLabels = document.querySelectorAll('.checkbox-label');

        checkboxLabels.forEach(label => {
            label.addEventListener('click', () => {
                let checkbox = label.querySelector('.hidden-checkbox');
                checkbox.checked = !checkbox.checked;
            });
        });

        document.getElementById("show-origins-button").addEventListener("click", function () {
            document.getElementById("origins-not-matching-artists").style.display = "block";
        });

        $(document).ready(function () {
        // Trigger the custom alert modal with the alert message
        var alertMessage = "{{ alert_message|escapejs }}";  // Escape the message for JavaScript
        $("#alertMessage").text(alertMessage);
        $("#customAlertModal").modal("show");
    });
    document.addEventListener("DOMContentLoaded", function () {
  // Find all "Add to Cart" buttons
  const addToCartButtons = document.querySelectorAll(".add-to-cart-button");

  // Find the cart notification div
  const cartNotification = document.getElementById("cart-notification");

  // Initialize the cart count
  let cartCount = 0;

  // Function to update the cart notification
  function updateCartNotification() {
    cartNotification.textContent = `You have ${cartCount} product(s) in your cart`;
  }
});

// Add click event listeners to all "Add to Cart" buttons
addToCartButtons.forEach((button) => {
    button.addEventListener("click", function () {
      // Increment the cart count
      cartCount += 1;

      // Update the cart notification
      updateCartNotification();
    });
  });
    </script>
    {% endblock %}
</body>

</html>